form{
    width: 100%;
    max-width: 600px;
    margin: 80px auto;
    background-color: rgb(27, 27, 27);
    padding: 20px;
    border-radius: 5px;
}

form .titulo-pedido{
    width: 50%;
    margin: 0 auto;
    color: white;
    text-align: center;
    border-bottom: 2px solid royalblue;
}

.form-group .form-control{
    color: white;
    border: 0;
    border-bottom: 1px solid royalblue;
}