.product{
    width: 100%;
    max-width: 190px;
    color: white;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(27, 27, 27);
    transition: 280ms;
    margin: 0 5px 5px 0;
}