.container{
    padding: 0;
}

.container-principal{
    padding-top: 80px;
    width: 100%;
    max-width: 1280px;
}

.clear{
    clear: both;
}

.container-product{
    float: right;
    width: 100%;
    max-width: 1020px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
