.product{
    width: 100%;
    max-width: 190px;
    color: white;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(27, 27, 27);
    transition: 280ms;
    margin: 0 5px 5px 0;
}

.product .img-product{
    width: 100%;
    text-align: center;
}

.product .img-product img{
    width: 90%;
}

.product .title-product{
    margin-top: 5px;
    width: 100%;
    height: 50px;
}

.product .title-product p{
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product .price-product{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product .price-product .canceled{
    text-decoration: line-through;
    font-size: 14px;
    color: royalblue;
}

.product .price-product h2{
    font-size: 25px;
}

.product .buy{
    margin-top: 10px;
    position: relative;
    top: 50px;
    transition: 200ms;
    background-color: royalblue;
}

.product:hover{
    border: 1px solid royalblue;
    background-color: rgb(36, 36, 36);
}

.product:hover .buy{
    top: 0;
}

.product .buy:hover{
    background-color: rgb(0, 89, 255);
}